<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a664f2">  <td>20/04/09 16:27:06</td>   <td>0</td> <td title="&gt;&gt;BaseTest.ReportsetUp()[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&gt;&gt;ReportsetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>20/04/09 16:27:34</td>   <td>28228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>20/04/09 16:28:10</td>   <td>64627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/04/09 16:27:34</td>   <td>28402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithInvalidCredentials(java.lang.String, java.lang.String)[pri:2, instance:com.vistarooms.test.LoginTest@8692d67]">loginWithInvalidCredentials</td> 
  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/04/09 16:27:20</td>   <td>14687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials(java.lang.String, java.lang.String)[pri:1, instance:com.vistarooms.test.LoginTest@8692d67]">loginWithValidCredentials</td> 
  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/04/09 16:27:06</td>   <td>386</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/04/09 16:28:10</td>   <td>64628</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>20/04/09 16:28:11</td>   <td>65614</td> <td title="&lt;&lt;BaseTest.tearDownAtLast()[pri:0, instance:com.vistarooms.test.LoginTest@8692d67]">&lt;&lt;tearDownAtLast</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@896138248</td>   <td></td> </tr>
</table>
